h1{
    color: red;
    font-weight: bold;
    border: 5px dotted salmon;
    text-align: center;

    text-shadow:2px 2px;
}

#field1 {
    border: 2px solid green;
    border-radius: 5px;
}
#field2 {
    border: 2px solid green;
    border-radius: 5px;
}
#field3 {
    border: 2px solid green;
    border-radius: 5px;
}
#field4 {
    border: 2px solid green;
    border-radius: 5px;
}

#field5 {
    border: 2px solid green;
    border-radius: 5px;
}


*{
    box-sizing: border-box;
}

body{
    padding: 30px 30%;

}

form{
    font-size: 1rem;
    color: darkgray;
    background-color: lightyellow;
} 

form label, form legend{
    width: 40%;
    float: left;
}

form input {
    width: 60%;
}

form div{
    overflow: hidden;
    /* clear: both; */
    padding: 5px;

}

form > div > fieldset{
    border: 0;
    /* padding: 10px; */
    padding: 0;
    margin: 0;
}

form > div > fieldset > div > div > label {
    font-size: 0.9rem;
    color: black;
    padding-left: 0.6rem;
}

form textarea{
    width: 100%;
}

/* form/div[6]/div */

form > div > div {
    padding-left:0;
}


form > div > fieldset > div > div > input{
    width: auto;
    float: left;
    /* margin-left: 0; */
}

/* xpath full path */
/* /html/body/div/form/div[7]/fieldset/div/div[1] */
form > div > fieldset > div > div {
    padding: 0;
}

.cities > div > input {
    width: auto;
    float: left;
}

form input:focus{
    border: 3px solid orange;
}

form input, textarea{
    background-color: yellow;
}

#sendForm{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aqua;
    background-color:red;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100px;
    height: 40px;
    display: block;
    margin: 0 auto;
}

#sendForm:hover{
    color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: border 0.5s ease-in-out, background-color 0.5s ease-in-out, color 0.5s ease-in, border-radius 0.5s ease-in-out;
    border: 3px solid darkorange;
    background-color: rgb(68, 44, 155);
    border-radius: 5px;
}
#age {
    border-radius: 10px;
    border: 2px normal rgb(39, 39, 39);
    color: rgb(39, 39, 39);
    text-align: center;
    font-weight: bold;
    height: 25px;

}
#age:hover {
    color: rgb(251, 255, 0);
    animation-name: scale;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}
@keyframes scale {
    from {background-color: rgba(141, 50, 194, 0.836);}
    to {background-color: rgb(0, 138, 96);}
}
#age_label {
    color: rgb(39, 39, 39)y;

    font-size: 1.3rem;
   
}


#field3:hover, #field2:hover, #field1:hover {
    background-color: peru;

#field2 {
    padding-left: 7px;
    background-color: #F3E5F5;
    border: none;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
}

#field2:focus {
    background-color: #E1BEE7;
}


}