h1{
    color: blue;
    font-weight: bold;
}

*{
    box-sizing: border-box;
}

body{
    padding: 30px 30%;

}

form{
    font-size: 1rem;
    color: darkgray;
    background-color: lightyellow;
} 

form label, form legend{
    width: 40%;
    float: left;
}

form input {
    width: 60%;
}

form div{
    overflow: hidden;
    /* clear: both; */
    padding: 5px;

}

form > div > fieldset{
    border: 0;
    /* padding: 10px; */
    padding: 0;
    margin: 0;
}

form > div > fieldset > div > div > label {
    font-size: 0.9rem;
    color: black;
    padding-left: 0.6rem;
}

form textarea{
    width: 100%;
}

/* form/div[6]/div */

form > div > div {
    padding-left:0;
}


form > div > fieldset > div > div > input{
    width: auto;
    float: left;
    /* margin-left: 0; */
}

/* xpath full path */
/* /html/body/div/form/div[7]/fieldset/div/div[1] */
form > div > fieldset > div > div {
    padding: 0;
}

.cities > div > input {
    width: auto;
    float: left;
}

form input:focus{
    border: 3px solid orange;
}

form input, textarea{
    background-color: yellow;
}

#sendForm{
    background-color:red;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100px;
    height: 40px;
    display: block;
    margin: 0 auto;
}

#sendForm:hover{
    transition: border 2s ease-in-out, background-color 2s ease-in-out, color 1s ease-in, border-radius 2s ease-in-out;
    border: 3px solid darkorange;
    background-color: pink;
    color: white;
    border-radius: 5px;
}
<<<<<<< HEAD
#checkbox_4{
    font-size: 20px;
    color: blue;
    border: solid 5px;
    border-radius: 50px;
    border-top: 5px;
    padding: 10px;
    width: auto;
=======

#field2 {
    padding-left: 7px;
    background-color: #F3E5F5;
    border: none;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
}

#field2:focus {
    background-color: #E1BEE7;
}

.field2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
>>>>>>> bd265cd4fbf2b1a1af92cde0cd24422d503538f8
}