h1 {
    color: red;
    font-weight: bold;
    border: 5px dotted salmon;
    text-align: center;
}

* {
    box-sizing: border-box;
}

body {
    padding: 30px 30%;
}

form {
    font-size: 1rem;
    color: darkgray;
    background-color: lightyellow;
}

form label,
form legend {
    width: 40%;
    float: left;
}

form input {
    width: 60%;
}

form div {
    overflow: hidden;
    /* clear: both; */
    padding: 5px;
}

form>div>fieldset {
    border: 0;
    /* padding: 10px; */
    padding: 0;
    margin: 0;
}

form>div>fieldset>div>div>label {
    font-size: 0.9rem;
    color: black;
    padding-left: 0.6rem;
}

form textarea {
    width: 100%;
}


/* form/div[6]/div */

form>div>div {
    padding-left: 0;
}

form>div>fieldset>div>div>input {
    width: auto;
    float: left;
    /* margin-left: 0; */
}


/* xpath full path */


/* /html/body/div/form/div[7]/fieldset/div/div[1] */

form>div>fieldset>div>div {
    padding: 0;
}

.cities>div>input {
    width: auto;
    float: left;
}

form input:focus {
    border: 3px solid orange;
}

form input,
textarea {
    background-color: yellow;
}

#sendForm {
    font-weight: bold;
    font-size: 1rem;
    color: #1b1616;
    display: block;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    padding: 9px;
    border-radius: 5px;
    margin: 20px auto;
    text-align: center;
    moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all .4s ease-in-out;
}

#sendForm:hover {
    background-position: 97% 0;
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
    moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    color: #1b1616;
}

#field3:hover,
#field2:hover,
#field1:hover {
    background-color: peru;
}

#field2 {
    padding-left: 7px;
    background-color: #F3E5F5;
    border: none;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
}

#field2:focus {
    background-color: #E1BEE7;
}